* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

div {
    padding: 2px;
}



p h1 h2 h3 h4 h5{
    padding: 0 5px;
   
}

 h1 h2 h3 h4 h5{
    margin: 5px;
   
}

ul {
    list-style-type: none;
}

hr {
    border-top: .5px solid rgb(180, 178, 178);
    margin: 8px 0;
}
button{
    border: none;
    background-color:#1293d5;
    width: 80px;
    margin: 0 10px;
    padding: 8px 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
}



.icon{
    width: 25px;  
}
.menu-icon {
   color: white;
   border: white 1px solid;
   width: 25px; 
}

.icon-small{
    width:20px;
}

.user-pic{
    width: 45px;
    margin: 0 20px;
}

.user-pic-main{
    width: 80px;
    margin-left: 15px;
}

#container{
    
    background-color: #edeef0;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    /* height: 100vh; */
    gap: 5px;
    /* position:relative; */
  

}

#sidebar{
    background-color:#1293d5;
    color: white;

    grid-area: 1 / 1 / 7 / 2;
    display: grid;
   
    /* grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr); */
    
    grid-template-rows: repeat(10, auto) 1fr;
}

#sidebar h3{
    grid-area: 1 /1 / 2 /2;
}
#sidebar div {
    /* border: white .8px solid; */
    padding: 10px;
    font-weight: bold;
}

#last-item-of-section{
    padding-bottom: 50px !important;
}

#sidebar-header{
    font-size: 1.4rem;;

padding: 20px 20px 50px 10px;
}

#header {
    
    background-color: white;
    grid-area: 1 / 2 / 2 / 7; 
    display: grid;
    grid-template-rows: 2fr 3fr;
}

#header-top{
    margin-top:auto;
}


.header-left{
    margin-left: 50px;
}

#header>div>.header-left{
    display: flex;
    justify-content: flex-start;
}

.header-right img, .header-right h3 {
    margin: 0 20px; 
}

#header>div>.header-right{
    display: flex;
    justify-content: center;
    
   
}
#user-name{
font-weight: bold;
}


#search-submit {
    background-color: white;
    width: 30px;
}
#searchbar{
    border: none;
    background-color: #edeef0;
    border-radius: 50px;
    height: 1.8rem;
    width: 95%;
}

#header div {
    padding: 7px 0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
}

#header-bottom ul{
    display:flex;
    
    justify-content: space-between;
}

#greeting{
    display: block !important;
    margin-left: 20px
}

#main {
    display: grid;
    
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2rem 1fr;
   
}

#projects {
    background-color:#edeef0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 20px;
    padding: 10px 20px 20px;
    
}

#projects-header {
    grid-column: 1 /2;

}

.card-icons{
   position: relative;
   bottom: 0px;
   right: 0px;
   border: grey solid 1px;

}
#main-sidebar-header{
    grid-column: 2/3;
}
/* #projects-header>h3{
    border: white .8px solid;
    margin-bottom: -10px;
} */
.card {
    background-color: white;
    border-left: orange solid 6px;
    padding: 20px;
    border-radius: 6px;
    line-height: 1.05rem;   
}



.card h4, h5{
    margin-bottom: 5px;
}

.card p{
    font-size: 14px;
    color:rgb(78, 78, 78);
    
}

#main-sidebar{
    display: grid;
   padding: 10px 0 20px;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
  
}





.main-sidebar-card{
    border: none !important;
  
}



.main-sidebar-card p{
    font-size: 12px;
    
    line-height: 1.08rem;

}

#announcements-card:only-of-type(h5){
    font-weight: bold;
}



#trending-card p:nth-child(odd){
    font-weight: bold;
}

#trending-card{
   
margin: 10px  10px 0 0;
display:grid;
row-gap: 15px;
}

.trending-user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

